.icon-mail path {
    fill: red;
    transition: fill 0.5s ease;
}

.icon-mail:hover path {
    fill: purple;
}

.small {
    display: none;
}


@media (max-width: 100px) {

    .small {
        display: block;
    }

    .big {
        display: none;
    }
}