* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #1 : On On n'impose pas d'orientation */

.popup-portrait-only {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: white;
} 

@media screen and (max-width: 600px) and (orientation: landscape) {
    .popup-portrait-only {
        display: block;
    }
}

/* #2 : On évite de figer les tailles des containers */

.home-screen {
    background-color: aquamarine;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem 2rem;
}

.home-screen__logo {
    width: 6rem;
    height: 6rem;
    margin-bottom: 5rem;
}

.home-screen__title {
    margin-bottom: 1rem;
}

.home-screen__description {
    margin-bottom: 2rem;
}

/* #3 : On peut repasser un code en absolute version ordinateur en flex ou grid sur mobile */

.absolute-to-flex {
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 20rem;
    position: relative;
}

.absolute-to-flex__floating-element {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 100%;
    top: 2rem;
    left: 5rem;
}

@media screen and (max-width: 600px) {
    .absolute-to-flex {
        padding: 2rem;
        flex-direction: column;
        row-gap: 2rem;
    }

    .absolute-to-flex__floating-element {
        position: initial;
    }
}

/* #4 : Ne pas avoir les mêmes contenus sur desktop ou mobile */

.content-showing-on-hover {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    list-style: none;
}

.content-showing-on-hover__item {
    width: 5rem;
    height: 5rem;
    background-color: blueviolet;
}

.content-showing-on-hover p {
    display: none;
}

.content-showing-on-hover__item:hover p {
    display: block;
}

@media screen and (max-width: 600px) {
    .content-showing-on-hover {
        flex-direction: column;
        align-items: center;
    }

    .content-showing-on-hover__item p {
        display: block;
    }
}