body {
    background-color: pink;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

button {
    background-color: transparent;
    border-radius: 0;
    border-width: 0;
}

/* FLUX */
.flux {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: none;
}

@media screen and (min-width: 600px) {
    .header__burger {
        display: none;
    }

    .header__nav {
        display: initial;
    }

    .header__list-links {
        display: flex;
        gap: 2rem
    }    
}

/* MAIN */

.main  {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

/* HERO */

.hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (min-width: 600px) {
    .hero {
        flex-direction: row-reverse;
        align-items: center;
    }
}

/* PARTNERS */

.section-partners {
    text-align: center;
}

.section-partners__list-logos {
    display: flex;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

.section-partners__logo {
    min-width: 20rem;
}